//colors 
$yellow: #F5C518;
$yellow--darker: #b49114;
$error: rgb(184, 10, 10);
$error--darker: rgb(133, 8, 8);
$green: rgba(14, 163, 14, 0.936);
$green--darker: rgba(16, 116, 16, 0.936);


//anim

@keyframes showUpAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
